.logo{
    height: 50px;
}

Nav .nav-link{
    font-weight: 500;
    font-size: 16px;
    font-family: sans;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black !important;
}

.item{
    font-weight: 500;
    font-size: 16px;
    font-family: sans;
    background-color: white;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black !important;
    border: none;
}