
.card{
    background-color: black;
}
.feature-img img{
    margin-top: 10px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}